<div class="content">
  <mat-card-title>
Our Products Catalog
  </mat-card-title>


  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%"
    *ngFor="let product of products">
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>{{product.productname}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{product.image}}" height="150px">
        <mat-card-content>
          <p>
            ID : {{product.productID}}
            Name: {{product.productname}}
            Price: {{product.price}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Contact</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  </div>


